body {
    background-color: #fb6f92;
}
h3 {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-family: Cooper Black;
    text-align: center;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: rgb(184, 119, 120); color: #fff;
}
.topnav2 {
    overflow: hidden;
    background-color: rgb(184, 119, 120); color: #fff;
    padding: 5px 15px;
}
.topnav-img {
    float: left;
    padding: 10px 15px;
    background-color: rgb(112, 75, 76); color: #fff;
}
.button {
    font-family: Cooper;
    padding: 20px 80px;
    background-color: #781113; color: #fff;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}
.button:hover {
    background-color: #ffc2d1;
}
.img-size {
    padding: 5px 10px;
    border-radius: 40px;
    width: 650px;
    height: 400px;
}
.module-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.module-text button {
  display: block; padding: 15px 15px;
  background-color: #781113; color: #fff;
  font-size: 12px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-family: Cooper;
}
.module-text button:hover {
    background-color: #ffc2d1;
}
.module-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Accounting.jpg");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px; 
}
.module-image .module-content {
    display: none;
    position: relative;
    background-color: #915a5a;
    padding: 7em 12em;
    min-width: 10rem;
    border-radius: 30px;
}
.module-image:hover .module-content {
    display: inline-block;
}
.module-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("HR.jpg");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px; 
}
.module-image1 .module-content {
    display: none;
    position: relative;
    background-color: #915a5a;
    padding: 7em 12em;
    min-width: 10rem;
    border-radius: 30px;
}
.module-image1:hover .module-content {
    display: inline-block;
}
.module-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("marketing.png");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px; 
}
.module-image2 .module-content {
    display: none;
    position: relative;
    background-color: #915a5a;
    padding: 7em 12em;
    min-width: 10rem;
    border-radius: 30px;
}
.module-image2:hover .module-content {
    display: inline-block;
}
.module-image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Supply Chain.jpg");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px; 
}
.module-image3 .module-content {
    display: none;
    position: relative;
    background-color: #915a5a;
    padding: 7em 12em;
    min-width: 10rem;
    border-radius: 30px;
}
.module-image3:hover .module-content {
    display: inline-block;
}
.module-image4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("payroll.jpg");
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px; 
}
.module-image4 .module-content {
    display: none;
    position: relative;
    background-color: #915a5a;
    padding: 7em 12em;
    min-width: 10rem;
    border-radius: 30px;
}
.module-image4:hover .module-content {
    display: inline-block;
}
.button1 {
    font-family: Cooper;
    padding: 10px 40px;
    background-color: #781113; color: #fff;
    font-size: 12px;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}
.button1:hover {
    background-color: #ffc2d1;
}